In [1]:
import numpy as np
import pandas as pd

In [4]:
adf = pd.DataFrame({"x1":["A", "B", "C"],"x2": [1, 2, 3]})
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [5]:
bdf = pd.DataFrame({"x1":["A", "B", "D"],"x3": ["T", "F", "T"]})
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

In [6]:
pd.merge(adf, bdf, how='left', on='x1')
#x1을 key로

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [8]:
pd.merge(adf, bdf, how='right', on='x1')
#x1을 key로
#bdf라는 DF를 기준으로 하겠다는 것.

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [10]:
pd.merge(adf, bdf, how='inner', on='x1')
#둘다 해당되는 값만 머지

  x1  x2 x3
0  A   1  T
1  B   2  F

In [11]:
pd.merge(adf, bdf, how='outer', on='x1')
#모든 값 다

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

In [12]:
pd.merge?

## FILTERING JOINS

In [15]:
adf.x1

0    A
1    B
2    C
Name: x1, dtype: object

In [13]:
bdf.x1

0    A
1    B
2    D
Name: x1, dtype: object

In [14]:
adf.x1.isin(bdf.x1)

0     True
1     True
2    False
Name: x1, dtype: bool

In [16]:
adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

In [17]:
adf[~adf.x1.isin(bdf.x1)]

  x1  x2
2  C   3

In [18]:
ydf = pd.DataFrame({"x1":["A", "B", "C"],"x2": [1, 2, 3]})
ydf

  x1  x2
0  A   1
1  B   2
2  C   3

In [20]:
zdf = pd.DataFrame({"x1":["B", "C", "D"],"x2": [2, 3, 4]})
zdf

  x1  x2
0  B   2
1  C   3
2  D   4

In [23]:
pd.merge(ydf, zdf)
#default 는 inner join

  x1  x2
0  B   2
1  C   3

In [24]:
pd.merge(ydf, zdf, how="outer")
#default 는 inner join

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   4

In [26]:
pd.merge(ydf, zdf, how="outer", indicator=True)
#indicator? _merge라는 컬럼이 생김. 어떻게 merge 했는지.

  x1  x2      _merge
0  A   1   left_only
1  B   2        both
2  C   3        both
3  D   4  right_only

In [34]:
pd.merge(ydf, zdf, how='outer', indicator=True)
.query('_merge=="left_only"')
.drop(columns=['_merge'])

  x1  x2
0  A   1

In [35]:
pd.merge?