In [1]:
import pandas as pd
import seaborn as sns

In [28]:
import numpy as np

In [2]:
df = sns.load_dataset('iris')
df.shape

(150, 5)

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
df['species'].value_counts()

virginica     50
setosa        50
versicolor    50
Name: species, dtype: int64

In [7]:
pd.DataFrame(df['species'].value_counts())

            species
virginica        50
setosa           50
versicolor       50

In [6]:
df['petal_width'].value_counts()

0.2    29
1.3    13
1.5    12
1.8    12
1.4     8
2.3     8
1.0     7
0.3     7
0.4     7
2.0     6
2.1     6
0.1     5
1.2     5
1.9     5
1.6     4
2.5     3
2.2     3
2.4     3
1.1     3
1.7     2
0.6     1
0.5     1
Name: petal_width, dtype: int64

In [9]:
len(df) #150개 행

150

In [16]:
df.shape
df.shape[0]

150

In [18]:
len(df) == df.shape[0]

True

In [20]:
df['species'].nunique() #unique한 것의 갯수 3개다

3

In [21]:
df['species'].nunique()

3

In [22]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [23]:
df.describe?

In [25]:
df.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width    species
count     150.000000   150.000000    150.000000   150.000000        150
unique           NaN          NaN           NaN          NaN          3
top              NaN          NaN           NaN          NaN  virginica
freq             NaN          NaN           NaN          NaN         50
mean        5.843333     3.057333      3.758000     1.199333        NaN
std         0.828066     0.435866      1.765298     0.762238        NaN
min         4.300000     2.000000      1.000000     0.100000        NaN
25%         5.100000     2.800000      1.600000     0.300000        NaN
50%         5.800000     3.000000      4.350000     1.300000        NaN
75%         6.400000     3.300000      5.100000     1.800000        NaN
max         7.900000     4.400000      6.900000     2.500000        NaN

In [30]:
df.describe(include=[np.object])

          species
count         150
unique          3
top     virginica
freq           50

In [29]:
df.describe(include=[np.number])

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [31]:
df['petal_width'].sum()

179.90000000000003

In [32]:
df['petal_width'].count()

150

In [33]:
df['petal_width'].median()

1.3

In [34]:
df['petal_width'].mean()

1.199333333333334

In [36]:
df.quantile([0.25, 0.75])

      sepal_length  sepal_width  petal_length  petal_width
0.25           5.1          2.8           1.6          0.3
0.75           6.4          3.3           5.1          1.8

In [37]:
df['petal_width'].var()

0.5810062639821029

In [38]:
df['petal_width'].std()

0.7622376689603465

In [39]:
df.min()

sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object

In [40]:
df.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

### APPLY 활용 
익명함수 - 각 row하나씩, 적용시키겠다.

In [41]:
df.apply?

In [44]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [42]:
df.apply(lambda x:x[1])

sepal_length       4.9
sepal_width          3
petal_length       1.4
petal_width        0.2
species         setosa
dtype: object

In [64]:
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species3,species-3
0,5.1,3.5,1.4,0.2,setosa,set,osa
1,4.9,3.0,1.4,0.2,setosa,set,osa
2,4.7,3.2,1.3,0.2,setosa,set,osa
3,4.6,3.1,1.5,0.2,setosa,set,osa
4,5.0,3.6,1.4,0.2,setosa,set,osa

In [45]:
df.apply(lambda x:x[3])

sepal_length       4.6
sepal_width        3.1
petal_length       1.5
petal_width        0.2
species         setosa
dtype: object

In [50]:
#해당 컬럼에서 첫 번째 글자만 가져옴
df['species'].apply(lambda x: x[0])

0      s
1      s
2      s
3      s
4      s
      ..
145    v
146    v
147    v
148    v
149    v
Name: species, Length: 150, dtype: object

In [51]:
df['species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [53]:
df['species3']=df['species'].apply(lambda x: x[:3])

In [54]:
def smp(x):
    #뒤에서 3번째 까지의 문자를 가져오는 함수
    x=x[-3:]
    return x

In [57]:
smp(df.species)

147    virginica
148    virginica
149    virginica
Name: species, dtype: object

In [58]:
smp(df['species'])

147    virginica
148    virginica
149    virginica
Name: species, dtype: object

In [59]:
df.species[-3:]

147    virginica
148    virginica
149    virginica
Name: species, dtype: object

In [60]:
df['species-3']=df['species'].apply(smp)

In [61]:
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species3,species-3
0,5.1,3.5,1.4,0.2,setosa,set,osa
1,4.9,3.0,1.4,0.2,setosa,set,osa
2,4.7,3.2,1.3,0.2,setosa,set,osa
3,4.6,3.1,1.5,0.2,setosa,set,osa
4,5.0,3.6,1.4,0.2,setosa,set,osa